<div class="modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 data-content="title" class="modal-title">Aviso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        
          </button>
        </div>
        <div class="modal-body">
          <p data-content="msg">
            Esta demo esta orientada a exponer la facilidad en el registro en la blockhain , se han retirado elementos de control y por lo tanto , <b>no</b> se deben usar billeteras que esten en producccion
          </p>
        </div>
        <div class="modal-footer">
          <input type="checkbox" id="id_check"/>
          <label>No volver a mostrar este mensaje</label>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btn-yes">OK</button>
        </div>
      </div>
    </div>
  </div>