<div class="modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 data-content="title" class="modal-title">Confirmación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p data-content="msg">¿Estas de acuerdo?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-no"  >No</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btn-yes">Si</button>
        </div>
      </div>
    </div>
  </div>