<div class="modal fade" id="modal-pin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" data-content="title">Pin de Seguridad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" id="pincode">
        </div>
        <div class="modal-footer">
          <span data-content="msg"></span>
          
        

          
        </div>
      </div>
    </div>
  </div>