 #spSiteHeader { display: none !important;}
 #suiteBarDelta { display: none !important;}
 #s4-ribbonrow { display: none !important;	}
 #s4-titlerow { display: none !important; }
 #sideNavBox {	display: none !important; }
 #spCommandBar {display: none !important;}
 #sp-appBar { display: none !important;}
 #SuiteNavWrapper {display: none !important;}
 #sp-skipToContent {display: none !important;}
 #CommentsWrapper {display: none !important;}
 #siteClassificationTootltipHost {	display: none !important;}
 #tooltip-4 { display: none !important;}
 #TurnOnAccessibility{ display: none !important;}
 #TurnOffAccessibility{ display: none !important;}
 #TurnOnAnimation{ display: none !important;}
 #TurnOffAnimation{ display: none !important;}
 #WebPartWPQ5_ChromeTitle{ display: none !important;}
 #WebPartWPQ4{ display: none !important;}
 .ms-core-pageTitle { display: none !important;}
 .s4-notdlg { display: none !important;}
 #SuiteNavWrapper{ display: none !important;}