<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div id="id_refresh" style="display:none" class="spinner-border" role="status" ></div>
      <a class="navbar-brand" href="#" data-content="title"></a>
      <img 
        id="id_walletType"
        cai-exec="$('#id_walletType').attr('src',(jCfg.walletType=='passport')?'assets/passport.svg':'assets/metamask.svg')"
         
        width="32"
        onclick="navigate('settings')"
      />
      
      <div id="w_Wallet"></div>


      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" href="javascript:navigate('home')  ; $('#navbarNav').removeClass('show')">
              <i class="bi bi-house"></i>
              Inicio
            </a>
          </li>

          <li class="nav-item" >
            <a class="nav-link active"  aria-current="page" href="javascript:navigate('allperson') ; $('#navbarNav').removeClass('show')">
              <i class="bi bi-people"></i>
              Ciudadanos
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="javascript:navigate('comunidades')  ; $('#navbarNav').removeClass('show') ">
              <i class="bi bi-boxes"></i>
              Comunidades</a>
          </li>
          
          <li class="nav-item">
           
            <a class="nav-link active" aria-current="page" href="javascript:navigate('passport')  ; $('#navbarNav').removeClass('show')">
              <i class="bi bi-person-badge-fill"></i>

              Mi Pasaporte</a>
          </li>

          <li class="nav-item">
           
            <a class="nav-link active" aria-current="page" href="javascript:navigate('settings')  ; $('#navbarNav').removeClass('show')">
              <i class="bi bi-gear"></i>

              Configuracion</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" href="javascript:location.reload()">
              <i class="bi bi-arrow-clockwise"></i>
              Refresca
            </a>
          </li>
        </ul>
      </div>
 
      <button class="navbar-toggler" 
        type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        
      </button>
    </div>
  </nav>

  <script>
      // oWallet.update();
      (async function(){
        $("[cai-exec]").each((i,e)=> eval ( $(e).attr('cai-exec')))
       

           
      })()
  </script>

  